@import url('https://fonts.googleapis.com/css2?family=Inter&family=Open+Sans&family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    
}


.form {
    margin: 5em;
    margin-left: 450px;
    background-color: white;
    padding: 3.125em;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.75);
  }

.social{
    margin: 5px;
    padding: 5px; 
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    
}

p{
    margin-top: 5px;
    margin-bottom: 5px;
    color: rgb(172, 172, 172);
}


  .signup {
    color: rgb(77, 75, 75);
    text-transform: uppercase;
    letter-spacing: 2px;
    display: block;
    font-weight: bold;
    font-size: x-large;
    margin-bottom: 0.5em;
  }
  
  .form--input {
    width: 100%;
    margin-bottom: 1.25em;
    height: 40px;
    border-radius: 50px;
    border: 1px solid gray;
    padding: 0.8em;
    font-family: 'Inter', sans-serif;
    outline: none;
  }

  button{
    width: 100%;
    margin-bottom: 1.25em;
    height: 40px;
    border-radius: 50px;
    border: none;
    background-color: #AEE2FF;
    padding: 0.8em;
    font-family: 'Inter', sans-serif;
    outline: none;
  }
  
  .form--input:focus {
    border: 1px solid #639;
    outline: none;
  }
  
  .form--marketing {
    display: flex;
    margin-bottom: 1.25em;
    align-items: center;
  }
  
  .form--marketing > input {
    margin-right: 0.625em;
  }
  
  .form--marketing > label {
    color: grey;
  }
  
  .checkbox, input[type="checkbox"] {
    accent-color: #639;
  }
  
  .form--submit {
    width: 50%;
    padding: 0.625em;
    border-radius: 5px;
    color: white;
    background-color: #639;
    border: 1px dashed #639;
    cursor: pointer;
  }
  
  .form--submit:hover {
    color: #639;
    background-color: white;
    border: 1px dashed #639;
    cursor: pointer;
    transition: 0.5s;
  }

